@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Spartan:wght@700&display=swap');
html, body, #root {
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
	width: 100%;
}
#root {
	background-color: hsl(235, 21%, 11%);
	align-items: center;
	justify-content: center;
}
#root, .list {
	position: relative;
	display: flex;
	flex-direction: column;
}
.header, .task, .footer, .header-functionality {
	display: flex;
	flex-direction: row;
}
.header {
	width: 30%;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	font-size: large;
	color: white;
	font-weight: bolder;
}
.menu {
	width: 30%;
	gap: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.list {
	font-weight: lighter;
	border-radius: 5px;
	z-index: 1;
	background-color: hsl(235, 24%, 19%);
	justify-content: space-around;
	gap: 5px;
	width: 100%;
}
.task {
	padding: 5px;
	color: white;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
	align-items: center;
	justify-content: start;
}
.button {
	background-color:hsl(235, 24%, 19%);
	cursor: pointer;
	margin: 0 10px 0 10px;
	width: 32px;
	height: 32px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 50%;
}
.button > img {
	height: 100%;
	width: 100%;
}
.description:hover {
	cursor: pointer;
}
.background-image {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 0;
}
.footer {
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px 15px 20px;
	color: hsl(233, 14%, 35%);
}
.footer > h5 {
	margin: 0;
}
.buttons {
	color: hsl(233, 14%, 35%);
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	background: none;
	border: none;
}
.buttons:hover {
	cursor: pointer;
}
.add-task {
	border-radius: 5px;
	width: 100%;
	border: none;
	z-index: 1;
	background-color:hsl(235, 24%, 19%);
	padding: 0;
}
.set-description {
	margin: 1em 0 1em 0;
	background: none;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: large;
}
.set-description::placeholder {
	color: grey;
	opacity: 1;
}
.set-description:focus {
	color: white;
}
.weather {
	padding: 0;
	z-index: 1;
}
.header-functionality {
	height: 100%;
	align-items: center;
	justify-content: center;
}
.theme {
	background: none;
	border: none;
}
.theme > img {
	height: 50px;
	width: 50px;
}